<% layout('layouts/boilerplate')%>
<%  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
  }
  %>
            <h1 class="text-center text-lg-center ">Countries</h1>
            <div class="container my-container container-fluid table-responsive">
            <table id = "mytable"  class="table table-bordered table-dark  table-striped ">
              <thead>
                <th >Country (click)</th> 
                <th >Total Cases</th>
                <th >Active Cases</th>
                <th >Total Recovered</th>
                <th >Total Deaths</th>
                <th >Population</th>
              </thead>
              <tbody>
                <% for(let country of countries){ %>
                  
                <tr>
                  <td ><a href="/country/<%=country.Country%>/<%=country.ThreeLetterSymbol%>" id="countryid" class="beforehover"><%= country.Country %></a></td>
                  <td><%= numberWithCommas(country.TotalCases) %></td>
                  <td><%= numberWithCommas(country.ActiveCases) %></td>
                  <td><%= numberWithCommas(country.TotalRecovered) %></td>
                  <td><%= numberWithCommas(country.TotalDeaths) %></td>
                  <td><%= numberWithCommas(country.Population) %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
<script>
    document.getElementById("countryid").addEventListener("mousemove"),function(){
     document.querySelector("#countryid").classList.remove("beforehover");
     document.querySelector("#countryid").classList.add("afterhover");
  }

</script>  
